* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', arial, sans-serif;
}

.container {
    min-width: 1200px;
}


.row {
    width: 1000px;
    margin: auto;
    text-align: center;
}


header {
    height: 300px;
    background-color: rgba(41, 128, 185,1.0);
    padding: 20px;

}

section {
    background-color: rgba(236, 240, 241,1.0);
    padding: 40px 20px;
}

h1 {
    margin-bottom: 30px;
    color: #fff;
    font-weight: 400;
}

h2 {
    color: rgba(41, 128, 185,1.0);
    margin-bottom: 30px;
    text-align: center;
}
/*================ Form =================*/
.details-inputs {
    display: inline-block;
    width: 600px;
    vertical-align: top;
}
.description-input {
    display: inline-block;
    width: 300px;
    margin-left: -70px;
}
textarea {
    padding: 10px;
    outline: none;
    font-size: 14px;
    border: none;
}
.form-control {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;

}
.form-control i {
    position: absolute;
    pointer-events: none;
    top: 13px;
    left: 3px;
    font-size: 20px;
    color: rgba(41, 128, 185,1.0);
}
input {
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 9px;
    width: 200px;
    height: 30px;
    border: none;
    font-size: 14px;
    outline: none;
    color: rgba(52, 73, 94,1.0);

}


#btn {
    font-size: 20px;
    background-color: rgba(41, 128, 185,1.0);
    border: 2px solid #fff;
    margin-top: 30px;
    color: #fff;
    padding: 10px 75px;
    outline: none;
    border-radius: 8px;
}


#btn:hover {
    background-color: rgba(52, 152, 219,1.0);
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgba(41, 128, 185,1.0);
}

/* Conact Card */

.card {
    border: 1px solid rgba(52, 152, 219,1.0);
    padding: 20px 10px;
    height: 250px;
    width: 250px;
    display: inline-block;
    margin: 10px;
    border-radius: 7px;
    text-align: left;
    vertical-align: top;
}



#toggle-btn, #delete {
    padding: 3px 20px;
    border: 1px solid rgba(52, 152, 219,1.0);
    background-color: #fff;
    color: rgba(52, 152, 219,1.0);;
    outline: none;
    border-radius: 8px;

}

#delete {
    background-color: rgba(192, 57, 43,1.0);
    color: #fff;
    border: none;
}

h4 {
    margin-bottom: 20px;
    font-size: 18px;
}
 p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 400;
}
